# Ignore Mac system files
.DS_store

# Ignore R and jupyter 
.ipynb_checkpoints
.idea


# Ignore node_modules folder
archive
keys
team
exam
keys
data
homework/hw3.sqlite
lectures/demo_cache.sqlite
lectures/lecture10.sqlite
syllabus/sta141b.xlsx
